<!-- Thêm vào phần menu -->
<div class="sb-sidenav-menu-heading">Quản lý nội dung</div>
<a class="nav-link" href="/Admin/PlaylistManagement">
    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
    Quản lý Playlist
</a>